.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer input{
  height: 70%;
  width: 25%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid lightblue;
}

.inputContainer button{
  height: 70%;
  width: 10%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
}

.inputContainer button:hover{
  background-color: rgb(19, 155, 201);
}

.moviesss{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

